COMPOSE_PROJECT_NAME=magento249

MAGENTO_SRC=./src

NGINX_PORT=8080
DB_PORT=3307
OPENSEARCH_PORT=9200
OPENSEARCH_PERFORMANCE_PORT=9600
VALKEY_PORT=6379
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

DB_ROOT_PASSWORD=root
DB_NAME=magento
DB_USER=magento
DB_PASSWORD=magento

OPENSEARCH_INITIAL_ADMIN_PASSWORD=Admin123StrongPass2026!